{% extends "base.html" %}

{% block page_title %}Database-Login{% endblock %}

{% block page_content %}
<div class="container-fluid mx-2 my-1">
    <main role="main" class="container">
        <div class="row">
            <div class="col">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
            </div>
        </div>
    </main>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <!-- <h1 class="text-center">Login</h1> -->
                    <form class="form-signin" method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }} {{ form.email(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {{ form.password(class="form-control") }}
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            {{ form.remember_me(class="custom-control-input") }}
                            {{ form.remember_me.label(class="custom-control-label") }}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary btn-block") }}
                        </div>
                        <div class="form-group">
                            <a class="nav-link" href="{{ url_for( 'auth.reset_password' ) }}">
                                <span style="font-size: 15px">Reset Password</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}