{% extends "base.html" %}{% set active_page='Section_1_edit' %} {% block page_title %}Section 1 - Edit{% endblock %} {% block page_content %}
<!-- Editable table -->
<div class="container-fluid mx-2 my-1">
    <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
      class="fa fa-plus fa-2x" aria-hidden="true"></i></a></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#upload_form" data-toggle="collapse" role="button" class="btn btn-info mb-3 mr-2" id="upload"
        aria-expanded="false" aria-controls="upload_form">Upload csv</a>
    <span class="float-left mb-3 mr-2"><a href="#!" type="button" id="export-btn"
      class="text-success"><i class="fa fa-upload fa-2x" aria-hidden="true"></i></a></span>

      <div class="row">
        <form id="upload_form" class="collapse mx-auto my-2">
            <br>
            <label for="files">Select files:</label>
            <input type="file" id="files" class="form-control" name="files" accept=".csv" multiple><br>
            <a href="#" type="button" class="btn btn-primary float-right" id="submit">Submit</a>
        </form>
      </div>


</div>
<div class="container-fluid">
    <div class="card mx-auto">
        <!-- <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Edit</h3> -->
        <div class="card-body">
            <div id="table" class="table-editable table table-responsive table-responsive-sm table-responsive-lg table-body">
                <table id="data_table" class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Company</th>
                            <th class="text-center">Linkedin Presence</th>
                            <th class="text-center">Industry</th>
                            <th class="text-center">Region</th>
                            <th class="text-center">Notes</th>
                            <th class="text-center">Email Format</th>
                            <th class="text-center">Format Name</th>
                            <th class="text-center">Format Type</th>
                            <th class="text-center">Other Email Format(s)</th>
                            <th class="text-center">Total Count</th>
                            <th class="text-center">Domain</th>
                            <th class="text-center">Research Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>
<!-- Editable table -->
<script type="text/javascript">
    function check(e) {
        console.log(e)
        const request1 = new XMLHttpRequest();
        request1.open('POST', '/section_1/check', true);
        request1.setRequestHeader("Content-Type", "application/json");
        data1 = {
            'type': e.target.dataset.type,
            'value': e.target.innerText
        }
        request1.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request1.responseText);
            console.log(data.message)
                //alert(data.message)
            if (request1.status === 200) {
                if (data.message === "Already Exists") {
                    e.target.style.backgroundColor = "yellow";
                } else {
                    e.target.style.backgroundColor = e.target.parentNode.style.backgroundColor;
                }
            }
        }


        // Send request
        request1.send(JSON.stringify(data1));
    };


    document.addEventListener("DOMContentLoaded", function(event) {
        const $tableID = $('#table');
        const $BTN = $('#export-btn');
        const $EXPORT = $('#export');

        const newTr = `
  <tr class="hide">
  <td onkeyup='check(event)' data-type="company" class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td data-type="domain" class="pt-3-half" contenteditable="true"></td>
  <td class="pt-3-half" contenteditable="true"></td>
  <td>
    <span class="table-remove"><a type="button"
      class="text-center"><i class="fa fa-remove fa-2x" aria-hidden="true"></i></a>
  </span>
  </td>
  </tr>`;


        $('.table-add').on('click', 'i', () => {

            $('tbody').append(newTr);

        });

        $tableID.on('click', '.table-remove', function() {

            $(this).parents('tr').detach();
        });


        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.on('click', () => {
            console.log("click")

            const $rows = $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function() {

                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function() {
                const $td = $(this).find('td');
                const h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach((header, i) => {

                    h[header] = $td.eq(i).text();
                });

                data.push(h);
            });

            // Output the result
            console.log(data)
            const request = new XMLHttpRequest();
            request.open('POST', '/section_1/', true);
            request.setRequestHeader("Content-Type", "application/json");
            //$EXPORT.text(JSON.stringify(data));
            request.onload = () => {

                // Extract JSON data from request
                const data = JSON.parse(request.responseText);
                console.log(data.message)
                alert(data.message)
                if (request.status === 200) {
                    window.location.reload(false);
                }
            }


            // Send request
            request.send(JSON.stringify(data));


        });

        elem = document.getElementById("submit")
        elem.addEventListener("click", function (e) {

            fileInput = document.getElementById("files")
            var all_data = [];
            for (var i = 0; i < fileInput.files.length; i++) {
                Papa.parse(fileInput.files[i], {
                    skipEmptyLines: true,
                    header: true,
                    complete: function (results, file) {
                        results['filename'] = file.name
                        all_data.push(results)
                        console.log(all_data, file);
                        if (all_data.length == fileInput.files.length) {
                            const request_file_upload = new XMLHttpRequest();
                            request_file_upload.open('POST', '/section_1/upload', true);
                            request_file_upload.setRequestHeader("Content-Type", "application/json");
                            request_file_upload.onload = () => {
                                const data = JSON.parse(request_file_upload.responseText)
                                // console.log(data)
                                alert(data)
                                if (request_file_upload.status === 200) {
                                    console.log("got it")
                                }
                            }
                            request_file_upload.send(JSON.stringify(all_data))
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}